*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


nav {
    display: flex;
    flex-direction: row;
    background-color: rgb(48, 84, 150);
    height: 60px;
    justify-content: space-between;
    align-items: center;
}

#heading-logo {
    display: flex;
    flex-direction: row;
    margin-left: 70px;
    color: rgb(248, 244, 244);
    justify-content: center;
    align-items: center;
}


.menu-heading{
    margin-right: 70px;
}

nav a{
    color: white;

}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 40px;
    background-color: rgb(170, 167, 167);
    text-align: left;
    padding-top: 10px;
}

footer p {
    margin-left: 20px;}