*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height:75px;
    padding: 0 30px;
    background-color: rgb(48, 84, 150);
}
.nav-title{
    display: flex;
    align-items: center;
    gap:10px;
}
.navtitle{
    color: white;
    font-size: 42px;
    font-weight: bold;
    text-decoration: none;
}
.logo{
    height: 50px; 
    width: 50px; 
    object-fit: contain;
}

.navbar a{
    color: white;
    padding: 10px 15px;
}
.nav-links{
    font-size: 22px;
    display:flex;
    gap:10px;
}
.footer{
    padding-top:25px;
    text-align: left;   
    font-size: 20px;
    height: 75px;
    color: black;
    background-color: rgb(170, 167, 167);
    margin-top: auto;
}