#menu-items{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
margin-top: 10%;
}

td{
    padding: 10px;
    text-align: center;
}

.item-name{
    text-align: left;
}
.item-price{
    text-align: right;
}

#table-heading{
    text-align: left;
    font-size: 30px;
    padding: 10px;

}